.container {
  background-color: var(--color-navbar-bg);
  border-bottom: 2px solid rgb(0 0 0 / 20%);
  color: var(--color-font-light);
  font-weight: 400;
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

.scrolled {
  background: rgb(0 0 0 / 95%);
  border-color: rgb(68 68 68);
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  @media screen and (min-width: 1500px) {
    margin: auto;
    width: 1500px;
  }
}

.me {
  a {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  span {
    color: var(--color-font-light);
    font-size: 1.3rem;
  }

  .profile {
    border-radius: 50%;
    box-shadow: var(--box-shadow-1);
    height: 60px;
    overflow: hidden;
    width: 60px;
  }
}

.mobileNav {
  background: rgb(0 0 0 / 30%);
  display: none;
  height: 100vh;
  transition: transform ease-in-out 250ms;
  width: 100vw;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      color: whitesmoke;
      font-size: 1.4rem;
    }

    .close {
      margin-bottom: 2rem;
      margin-top: 2rem;
      outline: 2px solid whitesmoke;
      width: min-content;

      svg {
        color: var(--color-font);
        font-size: 1.8rem;
        transition: color 250ms ease-in-out;
      }

      &:hover,
      &:focus {
        outline-color: var(--color-red-dark);

        svg {
          color: var(--color-red-dark);
        }
      }

      button {
        background: transparent;
        display: flex;
        padding: 0.7rem;
        color: aqua;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;

    nav {
      background: var(--color-bg);
      padding: 1rem;
      width: 250px;
    }
  }
}

.navList {
  display: flex;
  gap: 1.5rem;

  .mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;

      svg {
        color: whitesmoke;
        font-size: 1.8rem;
        transition: color 250ms ease-in-out;
      }

      button {
        background: transparent;
        display: flex;
        padding: 0.7rem;

        &:hover,
        &:focus {
          svg {
            color: var(--color-red-dark);
          }
        }
      }
    }
  }

  li {
    @media screen and (max-width: 768px) {
      display: none;
    }

    a {
      color: var(--color-font);
      cursor: pointer;
      transition: color ease-in-out 250ms;

      &:hover,
      &:focus {
        color: var(--color-red-dark);
      }
    }
  }
}

.notActive {
  transform: translateX(-100%) !important;
}
